@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid:true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';


body{
  background-color: #FF7661;
  color: #ffffff;
}
 //  MAIN HEADER
.mainheader {
  @include outer-container;
  background-color: #709C97;
  @include pad();
  border-bottom: 1px solid white;
  // border-top: 1px solid white;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;

 a {
   @include span-columns(5 of 12);
   text-decoration: none;
   text-align: center;
 }
}

.click{
  @include span-columns(6 of 12);
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  font: helvetica;
  font-size: 18px;
}



.click{
  a: {color: yellow;},
  a:hover { color: #000000;},
  a:visited { color: pink;},
  a:focus { color: blue;},
  a:active { color: green;}
}

.headerNav{
  height: 0;
  overflow: hidden;
  transition: .3s height;

  .headerlink{
    display: block;
    color: #fff;
    width: 100%;
  }
}

.headerNav.visible{
  height: 170px;
}

.headerNav{
  text-align: center;
  line-height: 20px;
  background-color: black;
  position: absolute;
  width: 100%;
  max-width: 200px;
  top: 40px;
  right: 0;
}

.headerlink{
  text-decoration: none;
  color: #ffffff;
  font: helvetica;
  font-size: 12px;
}

// PUBLIC FEED
.publicfeedMain {
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);

  section {
    @include span-columns(12 of 12);
    @include pad();
    border: 0.0625em solid #000000;


    span {
      text-align: center;
      @include span-columns(8 of 12);
      @include pad();

    }
    img {
      @include span-columns(3 of 12);
      border-radius: 6%;
      @include media($mobile) {
        @include span-columns(3 of 12);
      }
    }
    a {
      @include span-columns(3 of 12);
      @include pad();
      text-decoration: none;
      border: 0.0625em solid #000000;
      font-size: 1.125em;
      @include media($mobile) {
        @include span-columns(3 of 12);
      }

    }
  }
}
