@import '../../dist/bower_components/bourbon/app/assets/stylesheets/bourbon';
// $visual-grid:true;
@import '../../dist/bower_components/neat/app/assets/stylesheets/neat';

//global variables//
@import "./variables";


body{
  background-color: #fff;

  h1{
    font-family: 'Josefin Sans', sans-serif;
  }
  h2{
    font-family: 'Josefin Sans', sans-serif;
  }
  h3{
    font-family: 'Josefin Sans', sans-serif;
    color: #3ABFB5;
  }
}


//these are css placeholder colors for each different
//browser engine.
input::-webkit-input-placeholder {
font-size:12px;
color: $loginForm !important;
}

input:-moz-placeholder { /* Firefox 18- */
font-size:12px;
color: $loginForm !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
font-size:12px;
color: $loginForm !important;
}

input:-ms-input-placeholder {
font-size:12px;
color: $loginForm !important;
}

 //  MAIN HEADER

.mainheader {
  @include outer-container;
  background-color: #ffffff;      //KEEP THIS, TOOK OFF FOR VISIBLE LINES
  border-bottom: 1px solid black;
  height: 120px;
}

.drobe {
  @include span-columns(1.5);
  font-family: $mainfont;
  text-decoration: none;
  color: #3ABFB5;
  line-height: 96px;
  font-size: 30px;
  margin-left: 5.3%;
}

.linkContainer{
  float: right;
}

.hangerlogo{
  padding: 0;
  margin: 10px 0 0 0;
  float: left;


  &::after {
    clear: both;
    content: "";
    display: table;
  }

  &::before {
    display: block;
    content: "";
    background: #ccc;
    border-radius: 90px;
    background-image: url(../img/hanger.png);
    background-repeat: no-repeat;
    background-color: #FF6C00;
    background-size: 50px;
    background-position: center center;
    height: 85px;
    width: 85px;
    float: left;
  }

}
.userbox{
  @include span-columns(12 of 12);
  text-align: right;
}
.userlink{
  text-decoration: none;
  color: #3ABFB5;
  font-family: $mainfont;
  font-size: 12px;
  padding-top: 10px;
  padding-right: 10px;
}
.avatar, .userlink {
  @include span-columns(12 of 12);
  padding-top: 10px;
  padding-right: 10px;
}

.headerNav{
  @include span-columns(12 of 12);
  text-align: right;
  padding-top: 10px;
}
.headerlink{
  color: #FF7C2F;
  font-family: $mainfont;
  font-size: 14px;
  text-decoration: none;
  padding-right: 10px;
  &:hover{
    color: rgba(204, 116, 0, 0.97);
    }
  }




// ===================================
// LOGIN PAGE

.loginMain {
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);

  section {
    @include span-columns(12 of 12);
    @include pad();

    span {
      @include span-columns(12 of 12);
      @include pad();
      color: #FF7C2F;
      font-size: 14px;
      text-align: center;
    }
  }
form {
  @include span-columns(4 of 12);
    @include shift(4.6);
}
  .input {
    @include span-columns(4 of 4);
    background-color: rgba(246, 246, 246, 0.22);
    padding: 8px 14px 8px 14px;
    border: 3px solid $loginForm;
    width: 220px;
    margin-bottom: 15px;
    color: $loginForm;
    font-size: 20px;
    outline: none;
  }

  .subBtn{
    @include span-columns(3 of 4);
    background-color: rgba(246, 246, 246, 0.22);
    color: $loginForm;
    font-weight: normal;
    font-size: 30px;
    font-family: $mainfont;
    border: 4px solid $loginForm;
    width: 138px;
    padding: 11px 14px 11px 14px;
    margin-top: 10px;
    outline: none;
  }

  .registerLink {
    @include span-columns(4 of 4);
    @include pad();
    text-decoration: none;
    font-family: $mainfont;
    color: $registerLink;
    margin-top: 10px;
    text-align: left;
  }
}

// ===================================
// DASHBOARD MAIN
.dashboardMain {
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);
  @include pad(11px 0px 0px 11px);

  .dashboardNavBox {
    @include span-columns(5.8 of 12);
    @include pad();
    margin-top: 10px;
    line-height: 200px;
    border:2px solid $dashboardNav;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.22);
    font-family: $mainfont;
    text-decoration: none;
    font-size: 35px;
    color: #FF7C2F;
    height: 250px;
    cursor: pointer;
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    -o-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;
    &:hover{
      cursor: pointer;
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
      color: white;
      background-color: #FF7C2F;
      border: 2px solid gray;
      }
  }
}



// ===================================
// PUBLIC FEED
.publicfeedMain {
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);

  .user {
    @include span-columns(12 of 12);
    @include pad();
    border: 0.0625em solid #000000;


    span {
      text-align: center;
      @include span-columns(8 of 12);
      @include pad();
      font-family: $mainfont;
      color: #4EC5BC;
      font-size: 18px;

    }
    img {
      @include span-columns(3 of 12);
      border-radius: 6%;
      @include media($mobile) {
        @include span-columns(3 of 12);
      }
    }
    a {
      @include span-columns(3 of 12);
      @include pad();
      text-decoration: none;
      text-align: center;
      font-family: $mainfont;
      color: #000000;
      border: 0.0625em solid #000000;
      font-size: 1.125em;
      background-color: rgba(246, 246, 246, 0.22);
      cursor: pointer;
      -webkit-transition: background-color .7s ease-out;
      -moz-transition: background-color .7s ease-out;
      -o-transition: background-color .7s ease-out;
      transition: background-color .7s ease-out;
      &:hover{
        cursor: pointer;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
        color: white;
        background-color: #FF7C2F;
        border: 2px solid gray;
        }
      @include media($mobile) {
        @include span-columns(3 of 12);
      }

    }
  }
}



// ==================================
//register page
.registerMain{
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);


  section {
    @include span-columns(12 of 12);
    @include pad();
    span {
      @include span-columns(12 of 12);
      @include pad();
      color: #FF7C2F;
      font-size: 14px;
      text-align: center;
    }
    form {
      @include span-columns(4 of 12);
      @include shift(4.6);
    }
  }

  .input {
    @include span-columns(4 of 4);
    padding: 8px 14px 8px 14px;
    border: 3px solid $loginForm;
    width: 220px;
    margin-bottom: 15px;
    color: $loginForm;
    font-size: 20px;
    outline: none;
  }

  .subBtn{
    @include span-columns(3 of 4);
    background-color: rgba(246, 246, 246, 0.22);
    color: $loginForm;
    font-weight: normal;
    font-size: 30px;
    font-family: $mainfont;
    border: 4px solid $loginForm;
    width: 138px;
    padding: 11px 14px 11px 14px;
    margin-top: 10px;
    outline: none;
  }

  .loginLink {
    @include span-columns(4 of 4);
    @include pad();
    text-decoration: none;
    font-family: $mainfont;
    color: $registerLink;
    margin-top: 10px;
    text-align: left;
  }
}


//////////////////////////////////////
//Closet

.closetMain{
  @include outer-container;
  @include pad();
}

.closetItems{
  @include span-columns(12 of 12);
  border-bottom: 1px solid #000000;
  h2 {
      @include span-columns(12 of 12);
      @include pad();
      font-family: $mainfont;
      margin: 0;
      font-size: 22px;
      color: #FF6002;
      text-align: center;
  }

  li {
  @include span-columns(3 of 12);
  text-align: center;

    span {
      @include span-columns(3 of 3);
      font-family: $mainfont;
      margin-bottom: 10px;
      font-size: 14px;
      color: #FF6002;
      text-align: center;
    }
      img {
        @include span-columns(2.4 of 3);
        @include pad();
        @include shift(0.2);

      }
  }


}

.addItemView{
  @include span-columns(2 of 12);
  @include pad();
  @include shift(5);
  text-decoration: none;
  font-family: $mainfont;
  border: 1px solid #000000;
  text-align: center;
  font-size: 20px;
  color: #3ABFB5;
}
.BTNContainer{
  @include span-columns(0.5 of 12);
}

  .fa-arrow-left{
    @include span-columns(0.5 of 12);
    line-height: 300px;
    font-size: 38px;
    outline: none;
    border: none;
    background-color: #fff;
  }
  .fa-arrow-right{
    @include span-columns(0.5 of 12);
    line-height: 300px;
    font-size: 38px;
    outline: none;
    border: none;
    background-color: #fff;
  }


//////////////////////////////////////
//AddItem
.mycloset{
  @include outer-container;
}
h4{
  @include span-columns(12);
  text-align: center;
  font-family: $mainfont;
  font-weight: lighter;
  font-size: 30px;
  color: #3ABFB5;
}

.upload{
  @include span-columns(6);

    .filePickerBtn{
    @include span-columns(2 of 6);
    @include shift(1 of 6);
    background-color: rgba(246, 246, 246, 0.22);
    color: #000000;
    font-weight: normal;
    font-size: 15px;
    font-family: $mainfont;
    border: 2px solid #000000;
    width: 118px;
    padding: 11px 14px 11px 14px;
    outline: none;
    background-color: rgba(246, 246, 246, 0.22);
    cursor: pointer;
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    -o-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;
    &:hover{
      cursor: pointer;
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
      color: white;
      background-color: #FF7C2F;
      border: 2px solid gray;
      }
    }
    .uploadedImage{
    @include span-columns(4 of 6);
    @include shift(2 of 6);
    margin-top: 20px;
      img {
        max-width: 100%;
      }
    }

    .uploadedImage .placeholder {
      border: 1px dashed rgba(0, 0, 0, 0.32);
      display: block;
      height: 220px;
    }
    .uploadedImage .image-placeholder{
      background-color: rgba(255, 108, 0, 0.45);
      background-image: url(../img/hanger.png);
      border-radius: 90%;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      margin: 0 auto;
      margin-top: 17px;
      height: 185px;
      width: 185px;

    }
  }

  .imageInputs{
    @include span-columns(6);
  }
  .inputs{
    @include span-columns(3 of 6);
    @include shift(1.5 of 6);
    background-color: rgba(246, 246, 246, 0.22);
    padding: 12px 14px 8px 10px;
    border: 2px solid $loginForm;
    margin-bottom: 15px;
    color: $loginForm;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    font-family: $mainfont;

  }

  select{
      @include span-columns(3 of 6);
      @include shift(1.5 of 6);
      font-family: $mainfont;
      font-size: 12px;
      text-overflow: '';
      text-indent: 0.01px;
      border: 2px solid black;
      border-radius: 0px;
      padding-left: 10px;
      height: 30px;
      margin-bottom: 10px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(/img/downarrow.svg) no-repeat 100% 50%;
  }


.saveItem{
    @include span-columns(3 of 6);
    @include shift(1.5 of 6);
    background-color: rgba(246, 246, 246, 0.22);
    padding: 12px 14px 8px 10px;
    border: 2px solid $loginForm;
    margin-bottom: 15px;
    color: $loginForm;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    font-family: $mainfont;
    background-color: rgba(246, 246, 246, 0.22);
    cursor: pointer;
    -webkit-transition: background-color .7s ease-out;
    -moz-transition: background-color .7s ease-out;
    -o-transition: background-color .7s ease-out;
    transition: background-color .7s ease-out;
    &:hover{
      cursor: pointer;
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
      color: white;
      background-color: #FF7C2F;
      border: 2px solid gray;
      }
}

.toCloset{
  @include span-columns(3 of 6);
  @include shift(1.5 of 6);
  text-decoration: none;
  font-family: $mainfont;
  color: #3ABFB5;
  display: inline-block;
  margin-top: 10px;
  text-align: right;
}



///////////////////////////////////////////
/// Outfit Maker Page

.outfitMain{
  @include outer-container
}

.closetSection{
  @include span-columns(5 of 12)
}

.outfitDesigner{
  @include span-columns(5 of 12)
}

.designImg{
  @include span-columns(3 of 12)
}


.outfitName{
  background-color: rgba(246, 246, 246, 0.22);
  padding: 8px 14px 8px 14px;
  border: 3px solid $loginForm;
  width: 220px;
  margin-bottom: 15px;
  color: $loginForm;
  font-size: 20px;
  outline: none;
}

.saveOutfit{
  background-color: rgba(246, 246, 246, 0.22);
  color: #000000;
  font-weight: normal;
  font-size: 30px;
  font-family: $mainfont;
  border: 3px solid #000000;
  width: 138px;
  padding: 11px 14px 11px 14px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .7s ease-out;
  -moz-transition: background-color .7s ease-out;
  -o-transition: background-color .7s ease-out;
  transition: background-color .7s ease-out;
  &:hover{
    cursor: pointer;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    color: white;
    background-color: #FF7C2F;
    border: 2px solid gray;
    }
}
///////////////////
/// Outfit Page

.outfitPage{

  .outfitDisplay{
    @include  span-columns(3 of 12);
  }

  img{
    @include span-columns(12 of 12)
    margin-bottom: 10px;
  }
}
